:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#FFC107;
    --secundario:#0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
    }
    html {
        font-size: 62.5%;
    }

    body {
        font-size: 16px; 
        font-family: 'Krub', sans-serif;
    
    
    }

    .titulo {
        font-size: 3.8rem;
    }

    .titulo span {
        font-size: 2rem;
    }

    h1,h2,h3 {
        text-align: center;
    }

    .enlaces{
        background-color: var(--secundario);
        margin: 0px auto;
        display:flex;
        justify-content:space-around;
        
    }

    .enlaces a{
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        padding: 10px;
        color: var(--blanco);
        flex-direction: column;
        text-align: center;
    }

    .enlaces a:hover{
        text-decoration: none;
        color: var(--oscuro);
        background-color: var(--primario);
    }

    .tabla{
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #212121;
        text-align: left;
        padding: 8px;
        background-color: #0097a7;
      }

      td, th a{
        color: #dfe9f3;
      }
      
    
        
    